<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<ol>
    <li><strong>EMPLOYMENT DETAILS</strong></li>
</ol>
<p>You are employed as a Team Member commencing on ________(start date)</p>
<ol>
    <li><strong>PAY</strong></li>
</ol>
<p>You will be pa id £______ per hour which will be reviewed every year subject to a performance review, however an
    increase is not guaranteed.</p>
<p>You will be paid weekly in arrears by credit transf er to your Bank or Building Society Account only.</p>
<ol>
    <li><strong>HOURS, OVERTIME AND PLACE OF WORK</strong></li>
</ol>
<p>Your normal hours of work will be ________ (0-20 or 0-48) h ours per week. The Company's normal restaurant opening
    hours are 6.00am until 1.00am, Monday to Sunday and you are expected to work any of these days. The Company reserves
    the right reduce or extend your normal hours or work or to transfer your employment to another outlet within the YO!
    Sushi group to accommodate the needs of the business. You may be required t o work such additional hours as are
    reasonably necessary for the proper performance of your duties and responsibilities, for which you will be paid.
    Where applicable, a paid daily uni nterrupted rest break of 30 minutes is given.</p>
<ol>
    <li><strong>UNIFORM</strong></li>
</ol>
<p>You will be provided with a uniform upon commencement of employment, which you will be ex pected to wear whilst you
    are working. On leaving the Company you are expected to return your uniform, failure to do so may result in a
    deduction being made from your final salary to cover the cost of the uniform. For full details please refer to How
    to YO!</p>
<ol>
    <li><strong>PROBATIONARY PERIOD</strong></li>
</ol>
<p>Employment is subject to receipt of satisfactory references. Your employment will be subject to a 3 month
    probationary period. Should your conduct or performance be deemed to be unsatisfactory by YO! Sushi at any time up
    to the end of this period, your employment may be terminated in accordance with clause 11 of the Statement of Terms
    of Employment. The Company reserves the right to extend your trial period. You will be assessed during your
    probationary period as stated in the P&amp;P Manual and Life at YO!</p>
<ol>
    <li><strong>HOLIDAY ENTITLEMENT</strong></li>
</ol>
<p>Full time employees ar e entitled to 28 days holiday per year (incl bank holidays), which will be effective
    immediately. Part time employees are also entitled to 28 days holiday per year (incl bank holiday s), calculated
    pro-rata. Anyone working for the Company continuously for more than 5 years is entitled to 33 days (incl bank
    holidays) and for more than 10 years 38 days holiday (inc l bank holidays) pro rata.</p>
<p>All holidays must be agreed by your manager at least 4 weeks in advance. You will not usually be allowed to take more
    than 10 days holiday at any tim e. You may be required to work on public/bank holidays.</p>
<p>The holiday year runs from 1<sup>st</sup> January until 31<sup>st</sup> December. All holiday entitlement must be
    taken b y 31<sup>st</sup> December each year. The Company encourages you to take all your holiday entitlement;
    entitlement not taken by 31<sup>st</sup> December of that year will be lost and unpaid except on termination of
    employment. On termination of employment holiday entitlement accrues pro rata from the beginning of the holiday year
    to the contract termination date. You will be entitled to a payment in lieu of accrued holiday outstanding; the rate
    is based on your average hours work per week over the previous 12 week period. Any holiday taken in excess of your
    accrued entitlement will be deducted by the Company from your final salary payment. The Company reserves the right
    to refuse holiday during any period of notice, in cluding holiday previously agreed. Full details of the Holiday
    Policy can be found in the P&amp;P Manual and Life at YO!</p>
<ol>
    <li><strong>SICKNESS/ABSENCE</strong></li>
</ol>
<p>The C ompany understands that from time to time you may be unable to work due to illness. The Company does not
    currently operate a Company sick pay scheme. However, if you qualify you will be paid Statutory Sick Pay (SSP).</p>
<ul>
    <li>You are required to provide adequate explanation for any absence from work</li>
    <li>In the event of any absence you must notify your manag er or equivalent person at least 3 hours before you are
        due for your shift and explain why you will not be attending work. Sending a text message or e-mail is not an
        acceptable way of reporting absence.
    </li>
    <li>Any sickness must to certified. Sickness absence up to and including 7 consecutive days may be self certified
        and thereafter supported by one or more Docto rs certificates which must be submitted in a timely manner
    </li>
    <li>You may not return to work during a period of sickness covered by a doctors certificate</li>
</ul>
<ol>
    <li><strong>RE PORTING OF ILLNESS</strong></li>
</ol>
<p>It is your responsibility to report to the Manager, any illness involving the following: a) Vomiting b) Diarrhoea c)
    Septic skin lesions d) Dis charge</p>
<ol>
    <li><strong>MEDICAL EXAMINATIONS</strong></li>
</ol>
<p>The Company reserves the right at any time during your employment to require you to undergo a medical examination b y
    a practitioner nominated by the Company, which must be fulfilled within a reasonable timeframe. You will be expected
    to co-operate in the disclosure of all results and reports to th e Company.</p>
<ol>
    <li><strong>HEALTH AND SAFETY</strong></li>
</ol>
<p>You are required to comply with the Health and Safety Rules as laid out in the P&amp;P Manual and Company handbook s
    (Life at YO!, Kitchen YO! and How to YO!)</p>
<ol>
    <li><strong>NOTICE OR TERMINATION</strong></li>
</ol>
<p>During the first four weeks of your employment, no notice is required to be g iven by the Company or the employee.
    After the first four weeks an employee wishing to leave the Company must give one weeks' notice in writing and the
    Company will provide the follo wing notice:</p>
<ul>
    <li>Up to four weeks service - no notice</li>
    <li>4 weeks to 2 years service - 1 week</li>
    <li>2 years service or more - an additional 1 week for each full year of s ervice to a maximum of 12 weeks</li>
</ul>
<p>If you are summarily dismissed for reasons of Gross Misconduct, you will not receive notice, nor pay in lieu or
    notice. Further details re garding Notice Periods, Pay in Lieu of Notice and associated terms can be found in the P&amp;P
    Manual and Life at YO!</p>
<ol>
    <li><strong>DISIPLINARY PROCEDURE</strong></li>
</ol>
<p>Th e procedure to be adopted by the Company when dealing with disciplinary matters is detailed in the P&amp;P Manual
    and Life at YO!</p>
<p>PLEASE NOTE: in some cases of Summary Dismissa l, the Company is left with no alternative but to terminate the
    Employee's employment immediately (Gross Misconduct), with or without a notice period, or pay in lieu of notice.
    This greatly depends on the severity of the employees conduct. The Company reserves the right to deal with each case
    on its individual merits.</p>
<ol>
    <li><strong>GRIEVANCE PROCEDURE</strong></li>
</ol>
<p><strong>If you wish to discuss any grievance related to your employment, you should first attempt to resolve the
    matter informally with your manager. If you are unable to res olve the matter or wish to raise a formal grievance,
    it must be referred to the Operations Manager, in writing. Full details of the grievance procedure can be found in
    the P&amp;P Ma nual and Life at YO!</strong></p>
<ol>
    <li><strong><strong>STATUATORY AND NON STATUATORY LEAVE</strong></strong></li>
</ol>
<p>The Company will provide for Maternity, Paternity, Adoption and Parental Leave in line with current legislation and
    eligibility. Full details of Statutory and Non Statutory leave can be found in the P&amp;P Manual.</p>
<ol>
    <li>
        <strong>EQUAL OPPORTUNITIES</strong>&lt; /ol&gt;
        <p>Our aim is to provide you with a safe working environment. With that in mind, we have no place at YO! Sushi
            for any kind of discrimination or harassment (including but not limi ted to the following: sexism, racism or
            discrimination towards religious beliefs, sexual orientation, age etc). Your work place should be free from
            any forms of discrimination or hara ssment. If you feel you are a victim of discrimination or harassment
            please speak to your manager who will assist with the situation. Further details of the Company's policies
            can b e found in the P&amp;P Manual.</p>
        <ol>
            <li><strong>SECONDARY EMPLOYMENT</strong></li>
        </ol>
        <p>Your must seek permission from your General Manager if you undertake any other employment w hilst employed
            with YO! Sushi</p>
        <ol>
            <li><strong>PERSONAL PROPERTY</strong></li>
        </ol>
        <p>The Company does not accept responsibility for the loss or damage of an employee personal prope rty whilst on
            Company premises. We recommend you arrange your own insurance for personal effects.</p>
        <ol>
            <li><strong>DRUGS AND ALCOHOL</strong></li>
        </ol>
        <p>The Company aims to provid e a work environment where health and safety and/or work performance are not
            impaired by the use or abuse of illegal substances or alcohol. If there is suspected use and/or abuse of
            illegal substances or alcohol, the circumstances surrounding the alleged use or abuse will be investigated
            and may result in certain circumstances to disciplinary action being taken a gainst you, one of the
            consequences could be dismissal.</p>
        <ol>
            <li><strong>CONFIDENTIALITY</strong></li>
        </ol>
        <p>You should not disclose other than in proper course of your employment any information relating to the
            Company or its business. Furthermore, you agree to keep confidential the secrets and operating systems of
            the Company including manuals and all writte n material and not to remove from the Company premises any
            goods, documentation or business dealings during your employment with the Company or for a period of two
            years after leaving the Company.</p>
        <ol>
            <li><strong>WORKING TIME REGULATIONS, DAYS OF WORK AND SUNDAY WORKING</strong></li>
        </ol>
        <p>The Company will not require you to work more than 48 hours in a week ( full-time). However, if you agree to
            work more than 48 hours in a week you will be asked to sign an 'Opt Out' agreement which can be obtained
            from your manager. Further details of wo rking time regulations, Sunday working, Opting In and Opting Out
            can be found in Life at YO! and the P&amp;P Manual.</p>
        <ol>
            <li><strong>PENSION</strong></li>
        </ol>
        <p><strong>&lt; /strong&gt;As part of our obligations under auto enrolment legislation as of 1<sup>st</sup>
            September 2013 the Company has set up a Pension Scheme through NEST. You will be automatically enrolled into
            this scheme, subject to eligibility through age and earnings, unless you choose to opt out. The Scheme is
            contributory with both you and the Company contributing a perc entage of your qualifying earnings into the
            Scheme. There will be a 3 month period following commencement before automatic enrolment will take place and
            you will have a month from the date of enrolment within which to opt out. Full details of the scheme will
            have been provided prior to commencement and further information is available from your line Manager, Head
            Office and NEST</strong></p><strong></strong>
        <ol>
            <li><strong><strong>VARIATIONS</strong></strong></li>
        </ol>
        <p>The Company reserves the right to vary your duties and responsibilities at any time and from time to time
            according to the needs of the business. You will be consulted on the changes and reasonable notice will be
            given before they take effect. Due to the nature of the business, it is essential th at you are able to
            provide flexibility. We therefore reserve the right, after proper consultation with you, to change your
            terms and conditions to meet the Company's operational need s.</p>
        <p><strong>TIPS DECLARATION</strong></p>
        <p>YO! Sushi Ltd and any subsidiary of it play no part in calculating the share of gratuities due to any
            employee. The Company is not liable for any income tax payment or National Insurance (NI) payment on behalf
            of its employees, in respect of gratuities. The payment of Tax and NI is the sole responsibility of eac h
            employee.</p>
        <ol>
            <li><strong>PART TIME WORKING</strong></li>
        </ol>
        <p>Where the contract hours are part time all relevant entitlements under these Terms and Conditions will be
            pro-rat a accordingly.</p>
        <ol>
            <li><strong>COLLECTIVE AGREEMENTS</strong></li>
        </ol>
        <p>There are no collective agreements that directly affect the terms and conditions of your employment.</p>
    </li>
    <li><strong>CONDITIONS OF EMPLOYMENT</strong></li>
</ol>
<p>Commencement and continuation of employment is subject to you providing evidence of your right to reside and work in
    the Un ited Kingdom. On or before your first day of employment you are required to provide the Company with one of
    more of the following documents; your passport with valid visa, birth cert ificate, a European Economic Area
    passport or identity card or any other evidence confirming the rights of residence and employment. If such evidence
    has expired or changed during em ployment, please ensure you inform the Company and provide new evidence to support
    your legal status to work/stay in the United Kingdom. Failure to provide such proof of your legal ri ghts to
    work/stay in the UK may result in disciplinary action being taken against you, including dismissal.</p>
<ol>
    <li><strong>STAFF SEARCHES</strong></li>
</ol>
<p>The Company reserves the right to search employees' and their belongings either on a random basis for the prevention
    of crime or in the case of suspected theft. All employees will have the opportunity to be accompanied by a work
    colleague during any search.</p>
<ol>
    <li><strong>DEDUCTION FROM WAGES</strong></li>
</ol>
<p>If the Company makes an overpayment to you to which you are not ent itled, or is more than that to which you are
    entitled, you agree to allow the Company to recover the overpayment by deductions from your salary or other payments
    due to you. Deduction s can also be made in cases of company property misuse or damage. Any deductions will normally
    be made over the same period that the overpayment was made. It is in your interests to r egularly check your pay
    slips.</p>
<ol>
    <li><strong>CONCESSIONS</strong></li>
</ol>
<p>YO! Sushi operates several concessions. If you work in a concession you must adhere to the concessio n partner's
    policies and processes including but not restricted to those related to cash handling and security. You will be
    provided with and sign a separate document detailing such p olicies before commencing work in any concession.
    Failure to adhere to these policies may result in disciplinary action being taken against and and/or cessation of
    your employment in that concession.</p>
<p>For further details on Company policies and procedures please refer to the Company's employee handbooks (Life at YO!
    Kitchen YO! and How To YO!), the P&amp;P Ma nual and the Operations Manual, which may be amended from time to
    time.</p>
<p><strong>I HAVE READ, UNDERSTOOD, ACCEPT AND AGREE TO OBSERVE AND ADHERE TO THE TERMS AND CONDITIONS OF MY EMPLOYMENT.
    I HAVE RECEIVED AND READ LIFE AT YO!</strong></p>
<p><strong>EMPLOYEE SIGNATURE ___________________________</strong></p>
<p><strong>DATE________________</strong>&lt; /p&gt;</p>
<p><strong>MANAGER SIGNATURE ____________________________</strong></p>
<p><strong>DATE ________________EMPLOYMENT DETAILS__________</strong></p>
<p><strong>DATE _______________&lt;/
    strong&gt;</strong></p>
</body>
</html>